.container {
  margin-top: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.27);
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .block {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;

    h3 {
      color: #c76d7d;
      font-size: 25px;
      margin-bottom: 10px;
      font-weight: bold;
      text-shadow: 0px 0px 1px black;
    }

    p {
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
