.container {
  padding-top: 102px;
  box-sizing: border-box;
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 19;
  background-color: #090909;
  transition: right 1s ease-in-out;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;

  h2 {
    color: white;
    text-align: center;
    padding-top: 100px;
  }

  .productContainer {
    flex-grow: 20;
    overflow-y: auto;

  }

  .close {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 23px;
    position: absolute;
    left: 10px;
    top: 90px;
    font-weight: bold;
    transition: 700ms;
    z-index: 10;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }

  .price {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding-left: 20px;

    span {
      padding-left: 10px;
      color: #00d200;
    }
  }

  .bottomPart {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnDisplay {
      width: 80%;
      background-color: transparent;
      color: white;
      border: 1px solid white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
